// Override Bootstrap's Sass default variables

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/utilities";


$white: #ffffff;
$black: #000000;
$primary: #17b978;
$secondary: #232931;
$textCol: #271f1f;

// import fonts - font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@mixin main-font {
  font-family: 'Nunito', sans-serif;
}

// mixing for setting button style
@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;
  transition: all ease-in-out 0.3s;
  border: none;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 10px 7px rgba(0, 0, 0, 0.15);
  }

  &:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(0.95);
  }
}


html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  @include main-font;
  color: #000;
  background: $white;
  position: relative;
}

.layout_padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.layout_padding2 {
  padding: 4.5rem 0;
}

.layout_padding2-top {
  padding-top: 4.5rem;
}

.layout_padding2-bottom {
  padding-bottom: 4.5rem;
}

.layout_padding-top {
  padding-top: 6rem;
}

.layout_padding-bottom {
  padding-bottom: 6rem;
}

.layout_margin-top {
  margin-top: 6rem;
}

.layout_margin-bottom {
  margin-bottom: 6rem;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }

}

.section_heading {
  font-weight: bold;
  margin: 0;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header start*/
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $secondary;
  z-index: 9;
}

.navbar-brand {
  color: $white;
  font-size: 1.5rem;

  &:hover {
    color: $white;
  }
}

.navbar {
  padding: 0;

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 0.5rem 1.6rem;
        color: $white;
        text-align: center;
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
          color: $primary;
        }

        &.active {
          background: $primary;

          &:hover {
            color: $white;
          }

        }
      }
    }
  }
}

// nav toggler style
.navbar .navbar-toggler {
  padding: 0;
  height: 42px;
  transition: all 0.3s;
  outline: none;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $white;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      top: -10px;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
}

/*end header section*/

/* slider section */
.banner_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  padding: 3rem 0 4.5rem 0;
  min-height: 100vh;
  background: $secondary;

  .detail-box {

    h1 {
      font-weight: bold;
      margin-bottom: 2rem;
      color: $white;
    }

    p {
      color: #fefefe;
    }

    a {
      @include hero_btn($primary, $white, 12px, 45px, 5px);
    }
  }

  .img-box {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 375px;
    }
  }


}

.banner_section-shape-devider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.banner_section-shape-devider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 85px;
}

.banner_section-shape-devider .shape-fill {
  fill: #FFFFFF;
}

// end slider section

// skills section start

.skills_section {
  .row {
    align-items: stretch;

    >div {
      display: flex;
    }
  }
}

.skills_container {
  background: $secondary;
  color: $white;
  padding: 25px;
  margin-top: 3rem;
  border-radius: 5px;
  flex: 1;

  .skills_heading {
    font-size: 22px;
    font-weight: 600;
  }
}

.skills_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

  li {
    margin: 15px 20px 0 0;
    transition: all .2s;
    font-size: 18px;
    border-left: 3px solid $primary;
    padding-left: 7px;
    background: linear-gradient(to right, lighten($color: $secondary, $amount: 10), lighten($color: $secondary, $amount: 3));

  }
}

// skills section end

// section wrapper
.section_wrapper {
  color: $white;
  background-color: $secondary;
  border-radius: 45px 0 45px 0;
}

// section wrapper

// about section start
.about_section {
  text-align: center;

  .row {
    align-items: center;
  }

  .img-box {
    display: flex;
    justify-content: center;
    margin-bottom: -35px;

    img {
      max-width: 100%;
    }
  }

  .detail-box {

    p {
      font-size: 17px;
      margin: 1rem 0 0 0;
    }


  }

}

// about section end

// portfolio section start

.portfolio_section {
  .heading_container {
    margin-bottom: 1.5rem;
  }

  .filter-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 45px 0 20px 0;

    li {
      padding: 7px 25px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      margin: 5px 0;
      color: $white;

      &.active {
        background: lighten($color: $secondary, $amount: 7);
      }
    }
  }

  .col-md-4 {
    padding: 0;
  }

  .portfolio_box {
    position: relative;
    margin-top: 30px;
    border-radius: 5px;
    overflow-y: hidden;
    border: 5px solid rgba($color: #f7f8f9, $alpha: .45);
    background: rgba($color: #f7f8f9, $alpha: .45);
    background-clip: content-box;
    position: relative;

    img {
      width: 100%;
      background-clip: border-box;
    }

    &:hover {
      .portfolio_detail {
        transform: translateY(0);
      }
    }
  }

  .portfolio_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba($color: $secondary, $alpha: .92);
    padding: 20px;
    transform: translateY(100%);
    transition: all .2s ease-out;
  }

  .p_name {
    font-weight: 600;
    font-size: 20px;
  }

  .p_skills_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    li {
      margin: 15px 15px 0 0;
      transition: all .2s;
      font-size: 18px;
      padding: 5px 10px;
      background: lighten($color: $secondary, $amount: 25);
      border-radius: 3px;
      font-size: 15px;
    }
  }

  .p_type {
    margin: 1rem 0;
  }

  .p_link {
    @include hero_btn($primary, $white, 7px, 30px, 5px);
  }
}

//  portfolio section end

// experiance section start

.exp_section {
  .exp_box {
    background: $secondary;
    color: $white;
    padding: 25px;
    border-radius: 5px;
    margin-top: 3rem;

    a {
      color: $white;

      &:hover {
        color: $primary;
      }
    }
  }
}

// experiance section end

.footer-shape-devider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-shape-devider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.footer-shape-devider .shape-fill {
  fill: #FFFFFF;
}


// footer section
.footer {
  color: $white;
  padding: 15px 0;
  position: relative;
  background: $secondary;


}

.footer_items {
  padding: 9rem 0 4rem 0;

  a {
    position: relative;
  }

  .row>div:nth-child(2) {
    .item {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;


    .img-box {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      text-align: center;
      line-height: 65px;
      color: $primary;
      transition: all .3s;
      position: relative;
      background: $white;

      i {
        font-size: 24px;
        position: relative;
        z-index: 3;
      }


    }

    p {
      margin-top: 20px;
      color: #fff;
      margin-bottom: 0;
    }

    &:hover {
      .img-box {
        i {
          color: $secondary;
        }
      }
    }
  }


}


.footer-info {
  text-align: center;
  p {
    color: $white;
    margin: 0;
    padding-bottom: 25px;

    a {
      color: inherit;
    }
  }
}

// end footer section